@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsla(0, 0%, 0%, 0.756);
    /*(with 75% opacity for lightbox background)*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {

    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

}

p{
    font-size: 16px;
    color: var(--Dark-grayish-blue);
    max-width: 680px;
}
    /* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid var(--Dark-grayish-blue);
}
 header a{
     color: black;
     text-decoration: none;
     font-size: 30px;
     font-weight: 700;
 }
header button{
    background: transparent;
    border: none;
}
.ava img{
  width: 25px;

}
.ava img:hover{
    border: 1.5px solid var(--Orange);
    border-radius: 30px;
  }
.cart ,.tog{
    margin-right: 19px;
}

.menu{
    position: absolute;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    top: 0;
    left: 0;
    width: 80%;
    height:100vh;
    z-index: 999;
    box-shadow:100px 0px 100px var(--Black) ;
    display: none;
}
.menu li{
      list-style: none;
      margin-top: 25px;
      margin-bottom: 30px;
}
.menu button{
    width: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}

    /* img // left section */

    .sl{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .sl img{
        width: 100%;
        border-radius: 20px;
    }
    .btns{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 17px;
    }
    .btns button{

        background: var(--White);
        padding: 10px 14px;
        border-radius: 40px;
        border: none;
    }

    /* tx // right section */

    .sr{
      padding:15px 25px;
      width: 100%;
    }
    .sr h1,.sr h4 ,.sr h5,.sr h3 ,.sr h6,.sr p ,.co,.atc{
        margin-top:5px;
       margin-bottom: 20px;
    }
    .sr h6{

        font-size: large;
        color: var(--Grayish-blue);
    }
   
    .sr h5{
        font-size: 15px;
        text-transform: uppercase;
        color: var(--Orange);
    }
    .sr h1{
        font-size: 30px;
        font-weight: 700;

    }
 
    .de ,.d{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
    }
    .d{
     width: 180px;
    }
    .dis{
        background: var(--Pale-orange);
        color: var(--Orange);
        padding: 5px 10px;
        border-radius: 7px;
    }
    
    .co{
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: var(--Light-grayish-blue);
       padding:15px 30px;
       max-width: 650px;
       margin: 0 auto;
       margin-bottom: 20px;
       border-radius: 10px;
    }
    .co button{
        background: transparent;
        border: none;
     }
    .atc{
        display: flex;
        max-width: 650px;
        margin: 0 auto;
        justify-content: center;
        background: var(--Orange);
        border-radius: 10px;
        color:var(--Light-grayish-blue);
    }
   .atc h4 ,i{
       margin-top: 15px;
       margin-left: 10px;
   }

     /* media section */

     @media(min-width:1150px){


                    /* nav section */

        .conta{
            margin: 0 auto;
            max-width: 1210px;
        }
        .tog{
            display: none;
        }
        .close{
            display: none;
        }
        .menu{
            opacity: 1; 
            height: 55px;
            position: relative;
            box-shadow: none;
            display: block;
        }
        .menu ul{
            display: flex;
            margin: 0 0px 0 40px;
        }
        .menu li{
            padding: 0px 5px 15px 5px;
            margin: 0 15px 0 15px;
        }
        .menu a{
            font-size: 15px;
            color: var(--Grayish-blue);
        }
        .menu li:hover{
            border-bottom: 5px solid var(--Orange);
            border-radius: 4px;

        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
        }

        .ava img , .cart img{
            width: 28px;
        }
        .log{
            font-weight: 700;
            font-size: 35px;
        }

                            /* img//tex section */

            .mon{
                display: flex;
                justify-content: space-between;
                max-width: 90%;
                margin: 70px auto;
                background: rgba(255, 0, 0, 0.246);
            }
            .mon .sl img{
                border-radius: 30px;
                width: 80%;
            }
            .mon .btns{
                width: 80%;
            }
            .sr h1{
                font-size: 40px;
            }
            .sr h1 ,.sr h5,.sr h3 ,.sr h6,.sr p {
                max-width: 500px;
            }
            .co{
                width: 165px;
                margin: 0;
            }
            .atc{
                width: 260px;
                height: 57.5px;
                margin: 0 0 0 20px;
            }
            .glp{
                display: flex;
                align-items: center;
            }
            .de{
                flex-direction: column;
                align-items: flex-start;
            }
            .d h1,.d h3{
                margin: 0 0 10px 0;
            }
     }
